<nav class="navbar bg-white fixed-top shadow-sm">
    <div class="container-fluid">
      <div>
        <img src="/icons/rectangle2.png" alt="">
        <a id="menu-toggle"><i class="fa-solid fa-bars"></i></a>
      </div>
      <form class="d-flex navbar-menu justify-content-end">
        <div class="inner-addon left-addon">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input class="form-control rounded-0 navbar-input" type="search" placeholder="Search" aria-label="Search">
        </div>
        <button class="btn btn-outline-primary rounded-0 btn-menu" type="submit">Search</button>
        <div class="profile-menu">
          <img class="icon-profile" src="/icons/profile-icon.png" style="margin-right: 5px;">
          <a>Unis Bandri</a>
          <i class="fa-solid fa-chevron-down" style="margin-left: 15px;"></i>
        </div>
      </form>
    </div>
  </nav>
  <div class="sidebar text-center">
    <div class="mt-3">
      <img src="/icons/rectangle.png" class="rectangle">
    </div>
    <div class="pt-4 dashboard">
      <img src="/icons/home.png" alt="">
      <a>Dashboard</a>
    </div>
    <div class="pt-4 cars active">
      <a href="/"><img src="/icons/fi_truck.png" alt=""></a>
      <div class="sidebar-active">
        <a>Cars</a>
      </div>
    </div>
  </div>