* {
    font-family: 'IBM Plex Sans';
}
body {
    overflow-x: hidden;
    background-color: #F4F5F7 !important;
 }
.sidebar{
    width: 70px ;
    margin-left: 0px;
    height: 100vh;
    position: fixed;
    font-size: 12px;
    color: white;
    background-color: #0D28A6;
}
.sidebar-active{
    font-weight: 700;
}
.sidebar-collapse {
    margin-left: 70px;
    width: 220px;
    background-color: antiquewhite;
    height: 100vh;
}
.rectangle {
    margin-top: 2px;
}
.menu {
 padding-top: 70px;
}
.menu1{
    padding-left: 24px;
    padding-top: 35px;
    color: #8A8A8A;
    font-weight: 700;
}
.menu2{
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CFD4ED;
}
.active{
    background-color: rgba(255, 255, 255, 0.158);
}
.navbar{
    margin-left: 70px;
    height: 70px;
}
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa-magnifying-glass {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon input  { padding-left:  30px; }
.navbar-menu {
    color: #8A8A8A;
}
.navbar-input {
    font-size: 12px !important;
    height: 36px;
}
.btn-menu {
    font-size: 12px !important;
    font-weight: 700 !important;
    height: 36px;
}
.icon-profile {
    margin-left: 25px;
}
.profile-menu {
    color: black;
}
.heading-list {
    font-size: 20px;
    font-weight: 700;
}
.list-cars {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.btn-add {
    margin-right: 70px;
    height: 36px;
    background-color: #0D28A6 !important;
    color: white !important;
}
.container-form {
    background-color: #fff;
    padding-top: 16px;
    padding-bottom: 5px;
    margin-right: 200px !important;
    width: 1030px !important;
}
.btn-cancel:hover {
    background-color: #0D28A6 !important;
    color: white !important;
}
.btn-ukuran {
    font-weight: 700 !important;
    font-size: 14px !important;
    color: #AEB7E1 !important;
    border-color: #AEB7E1 !important;
    border-radius: 2px !important;
    outline: none !important;
    box-shadow: none !important;
}
.btn-ukuran:hover {
    background-color: #CFD4ED !important;
    border-color: #0D28A6 !important;
}
.btn-ukuran-active {
    background-color: #CFD4ED !important;
    border-color: #0D28A6 !important;
}
label {
    color: #3C3C3C;
    font-weight: 300;
}
#max-size {
    font-size: 10px;
    font-weight: 300;
}
.submit-button {
    margin-top: 220px !important;
}
.alert-fixed {
    position:fixed; 
    top: 50px; 
    left: 250px; 
    width: 500px;
    z-index:9999; 
    border-radius:0px
}
#delete {
    font-weight: 700;
    font-size: 14px;
    border-radius: 0px
}
#edit {
    border-radius: 0px;
}
#delete:hover{
    background-color: red !important;
    color: white !important;
}
.btn1:hover{
    background-color: #0D28A6 !important;
    color: white !important;
}
/* Remove Input Arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* sidebar collapse */
#menu-toggle {
    color: inherit;
    text-decoration: inherit;
    padding-left: 120px;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 70px;
    width: 0;
    height: 100%;
    margin-left: 0px;
    margin-top: 70px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #fff;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
    margin-left: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: black;
}

.list-car {
    text-decoration: none;
    background-color: #CFD4ED;
    font-weight: 700;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 60px;
    font-size: 14px;
    line-height: 60px;
    color: #8A8A8A;
    font-weight: 700;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

/* Media Query Sidebar */

@media(min-width:768px) {
    #wrapper {
        padding-left: 0px;
    }

    #wrapper.toggled {
        padding-left: 220px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 220px;
    }

    #page-content-wrapper {
        padding: 10px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}